ul {
    /* ul의 하위요소(li) 수평정렬을 위해 기본마진, 패딩 제거 */
    margin: 0;
    padding: 0;
}

footer {
    width: 1080px;
    height: 310px;
    margin: auto;
    padding: 0 8px 0 8px;
    /* 각각 위 오른쪽 아래 왼쪽 */
    display: flex;
    flex-direction: column;
    /* 요소들을 수평정렬 */
    font-size: 12px;
}

.notice_box {
    flex: 1;
    display: flex;
    justify-content: space-between;
    /* 양끝 정렬 */
    align-items: center;
    border-bottom: 1px solid #f1f3f6;
}

.notice_box a {
    font-weight: bold;
    color: black;
}

.aside_box {
    flex: 2;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f3f6;
}

.area_user {
    flex: 4;
    line-height: 2em;
    /* 줄간격 */
}

.area_user_row {
    display: flex;
}

.area_user_row span {
    flex: 1;
}

.area_user_row ul {
    flex: 6;
}

.aur_title {
    font-size: 13px;
    font-weight: bold;
}

.area_user_row ul>li {
    display: inline-block;
    /* li 수평정렬하는 방법 */
    margin-left: 8px;
}

.area_col {
    flex: 1;
    display: flex;
}

.area_col .ac_content {
    line-height: 20px;
}

.area_col .ac_img {
    width: 60px;
    height: 60px;
}

.bottom_box {
    flex: 3;
    padding-top: 20px;
    font-size: 14px;
}

.bottom_box ul>li {
    display: inline-block;
    /* 수평정렬 */
    margin-left: 8px;
}

.bottom_box ul>li:last-child {
    /* 마지막 li요소 (Naver Corp.) 굵게 */
    font-weight: bold;
}


/* 재사용 클래스 */

.color_naver {
    color: #03cf5d;
}

.text_bold-13 {
    font-weight: bold;
    font-size: 13px;
}